@charset "EUC-KR";

body {
	margin: 0px;
}

div {
	margin: 0px;
	float: left;
}
/*---------------------전체 화면---------------------*/
.frame {
	float: none;
	width: 1200px;
	height: 910px;
	margin: auto;
	background-color: rgb(250, 250, 250);
}
/*---------------------화면 상단---------------------*/
.topFrame {
	width: 100%;
	height: 160px;
}
/*--------페이지 이름 + 아이콘 영역--------*/
#top {
	width: 100%;
	height: 54%;
}
/*--------페이지 이름--------*/
#top>h3 {
	width: 300px;
	height: 50px;
	margin: 0px;
	position: relative;
	left: 25px;
	top: 23px;
	font-weight: bold;
	font-size: 36px;
}

/*--------아이콘--------*/
#top>ul {
	height: 60px;
	padding: 10px 10px 10px 5px;
	box-sizing: border-box;
	margin: auto;
	position: relative;
	top: -30px;
	left: 935px;
	float: left;
	list-style: none;
}

#top>ul>li {
	height: 40px;
	float: left;
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
}

#top>ul>li>img {
	width: 40px;
	height: 40px;
}
/*--------경계 라인--------*/
.UnderBar {
	width: 100%;
	height: 1%;
	border-radius: 4px;
	background-color: rgb(174, 174, 174);
}
/*--------상단 메뉴--------*/
#topMenu {
	width: 100%;
	height: 45%;
	position: relative;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
}

/*---------------------화면 중간---------------------*/
#mainFrame {
	width: 100%;
	height: 650px;
	position: relative;
	padding: 0px 300px 100px 300px;
	box-sizing: border-box;
}
/*-------- 회원가입 영역 --------*/
#mainContents {
	width: 100%;
	height: 100%;
}

#mainContents>p {
	height: 15%;
	margin: 0px;
	font-weight: bold;
	font-size: 32px;
}

#mainContents>form {
	width: 100%;
	height: 85%;
}

#mainContents>form>ul {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: left;
}

#mainContents>form>ul li {
	height: 20%;
	float: left;
	border: 0px;
	border-bottom: 2px;
	border-style: solid;
	border-color: rgb(200, 200, 200);
	box-sizing: border-box;
}
#mainContents>form>ul li:nth-of-type(n+7):nth-last-of-type(n) {
	border-bottom: 0px;
}
#mainContents>form>ul li:nth-last-of-type(2) {
	border-bottom: 0px;
}

#mainContents>form>ul li:nth-child(2n+1) {
	width: 32%;
}

#mainContents>form>ul li:nth-child(2n+2) {
	width: 68%;
}
#mainContents>form>ul li:nth-last-of-type(1) {
	width: 100%;
}

#mainContents>form>ul li p {
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
	top: 35%;
	left: 20%;
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
}

#mainContents>form>ul li input[type=text],input[type=password],select {
	padding: 6px 12px;
	width: 73%;
	height: 43%;
	position: relative;
	top: 26%;
	left: 3%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgb(0 0 0/ 8%);
	box-sizing: border-box;
	resize: none;
	font-size: 14px;
}

#mainContents>form>ul>li select{
	width: 47%;
}
#mainContents>form>ul>li input[type=button]{
	height: 43%;
	width: 26%;
	padding: 6px 12px;
	position: relative;
	top: 27%;
	left: 3%;
}
#mainContents>form>ul>li:nth-of-type(2)>input:nth-of-type(1) {
	width: 47%;
}

#mainContents>form>ul>li:nth-of-type(2)>input:nth-of-type(2) {
	position: relative;
	top: 27%;
	left: 3%;
	
}
#mainContents>form>ul>li:nth-last-of-type(2)>input{
	position: relative;
	top: 27%;
	left: 1.6%;
	
}

#mainContents>form>ul>li>input[type=submit] {
	height: 43%;
	width: 20%;
	padding: 6px 12px;
	position: relative;
	top: 27%;
	left: 40%;
	
}
/*---------------------화면 하단---------------------*/
#footer {
	width: 100%;
	height: 100px;
}

#footer h3 {
	float: left;
	width: 100%;
	height: auto;
	margin: 10px;
	margin-left: 100px;
}

#footer h5 {
	float: left;
	width: 100%;
	height: auto;
	margin: 10px;
	margin-left: 100px;
}