@charset "EUC-KR";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

ul, li{
   list-style:none;
}
a{
   text-decoration:none;
   color:inherit;
}


body {
   margin: 0px;
}

div {
   margin: 0px;
   
}
#topMenu .dep1>li>a{font-family: 'Hanna', serif;}
#topMenu .dep2 a{font-family: 'Hanna', serif;}
/*---------------------전체 화면---------------------*/
.frame {
   float: none;
   width: 1200px;
   height: 2300px;
   margin: auto;
   background-color: rgb(250, 250, 250);
}
/*---------------------화면 상단---------------------*/
.topFrame {
   z-index: 10;
   width: 1200px;
   height: 171px;
   position: fixed;
  background-color: white;
  
}
/*--------페이지 이름 + 아이콘 영역--------*/
#top {
   width: 100%;
   height: 54%;
   
}
/*--------페이지 이름--------*/
#top>a>img {
   width: 430px;
   height: 200px;
   margin: 0px;
   position: relative;
   left: 170px;
   top: -10px;

}

/*--------아이콘--------*/
#top>ul {
   height: 60px;
   padding: 10px 10px 10px 5px;
   box-sizing: border-box;
   margin: auto;
   position: relative;
   top: 30px;
   left: 1000px;
   float: left;
   list-style: none;
}


#top>ul>li {
   height: 40px;
   float: left;
   padding: 0px 10px 0px 10px;
   box-sizing: border-box;
}
#top>ul>li>a:hover{
   text-decoration: underline;
}
#top>ul>li>a {
   display: block;
   height: 100%;
   font-size: 16px;
   text-decoration: none;
   color: black;
   
}
#top>ul>li>a>img{
   width:80px;
}

/*--------경계 라인--------*/
.UnderBar {
   width: 100%;
   height : 1px;
   position : relative;
   top: 79px;
  
   border-radius: 4px;
   background-color: rgb(65 61 61);
}

/*-- 메인 카테고리 리스트 --*/



#topMenu .dep1 {
   font-size:0;
   padding-left: 0px;
}
#topMenu .dep1 > li{
   display:inline-block;
   width:200px;
   vertical-align:top;
   background:ghostwhite;
   text-align: center;
   font-size:16px;

}



#topMenu .dep1>li:hover > .dep2{
   display:block;
   padding-left:0px;
   
   
}

#topMenu .dep1>li>a{
   display:block;
   padding : 10px 0;
   font-size:20px;
   
}


#topMenu .dep2{
   display:none;
   background: whitesmoke;
   
}

#topMenu .dep2 a{
   display:block;
   padding : 10px 0;
   
}
#topMenu .dep2 >li{
   
   background:ghostwhite;
   text-align: center;
   font-size:16px;
   height: 40.91px;
   width:200px;
   display:inline-block;
   
}

#topMenu .dep2 a:hover {
   text-decoration: underline;
   
}

/*---------------------화면 중간---------------------*/
#mainFrame {
   z-index: 2;
   width: 100%;
   height: 2200px;
   padding-top: 120px;
   background-color:white;
   
}

/*--------상단 메뉴--------*/
#topMenu {

   float : right;
   width : 100%;
   height: 60px;
   position: relative;


   box-sizing: border-box;
   top: 79px;
}
#uploadbox{
   float : right;
   width : 60%;
   height: 60px;
   position: relative;
   right : 250px;
   padding: 10px 10px 10px 10px;
   box-sizing: border-box;
   top: 25px;
   
}
/*-------- 메인 사진 영역 --------*/
#mainFrame>div:nth-child(2) {
   width: 100%;
   height: 600px;
   position: relative;
   margin-top:57px;
   float:clear;
   
   
}

#slider-wrap {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}

#slider-wrap ul#slider li>div {
    position: absolute;
    top: 20px;
    left: 35px;
}

#slider-wrap ul#slider li>div h3 {
    font-size: 36px;
    text-transform: uppercase;
}

#slider-wrap ul#slider li>div span {
    font-size: 21px;
}

#slider-wrap ul#slider li img {
    display: block;
    position: relative;
    right: 75px;

}

#slider>li>div>img{
	 cursor: pointer;
}

/*btns*/
.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.slider-btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#slider-pagination-wrap ul {
    width: 100%;
    position: relative;
    top: 180px;
    right:50px;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}
    

/*-------- 강아지뉴스 타이틀 영역 --------*/
#mainFrame>div:nth-child(3) {
   width: 100%;
   height: 100px;
}
/*-- 강아지뉴스 제목 영역 --*/
#mainFrame>div:nth-child(3)>div {
   width: 160px;
   height: 40px;
   position: relative;
   top: 50%;
  
}
/*-- 강아지뉴스 --*/
#mainFrame>div:nth-child(3)>div>h3{
   width: 100px;
   height: 40px;
   position: relative;
   right: -25%;
   font-size: 33px;
   top: -15px;
   font-family: 'Poor Story', cursive;
}
/*-- 더보기 --*/
#mainFrame>div:nth-child(3)>div>a{
   width: 77px;
   height: 40px;
   position: relative;
   right: -690%;
   text-decoration: none;
   color: black;
   top: -26px;
   font-weight: 600;
   font-family: 'Poor Story', cursive;
}
#mainFrame>div:nth-child(3)>div>a:after{
    content: '\003E';
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-left: 3px;
   
}
#mainFrame>div:nth-child(3)>div>a:hover{
     text-decoration: underline;
   
}
/*-------- 메인 강아지 콘텐츠 영역 --------*/
#mainContents1 {
   width: 100%;
   height: 370px;

}

/*---- 강아지 뉴스 영역 ----*/
#mainContents1>div {
   width: 250px;
   height: 300px;
   margin: 25px;
   margin-top: 30px;
   margin-bottom: 30px;
   cursor: pointer;
    float: left;
}

#mainContents1>div>a {
   width: 250px;
   height: 370px;
   margin: 75px;
   margin-top: 30px;
   margin-bottom: 30px;
}

/*-- 강아지 사진 --*/
#mainContents1>div>img {
   width: 246px;
   height: 200px;
   border-radius: 10px;
}

/*-- 강아지 제목  --*/
#mainContents1>div>h5 {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0px;
	padding: 10px 5px 10px 5px;
	font-size: 18px;
}



/*-------- 고양이뉴스 타이틀 영역 --------*/
#mainFrame>div:nth-child(5) {
   width: 100%;
   height: 100px;
}
/*-- 고양이뉴스 제목 영역 --*/
#mainFrame>div:nth-child(5)>div {
   width: 160px;
   height: 40px;
   position: relative;
   top: 50%;

}
/*-- 고양이뉴스 --*/
#mainFrame>div:nth-child(5)>div>h3{
   width: 100px;
   height: 40px;
   position: relative;
    right: -25%;
    font-size: 33px;
    top: -15px;
    font-family: 'Poor Story', cursive;
}
/*-- 더보기 --*/
#mainFrame>div:nth-child(5)>div>a{
   width: 77px;
   height: 40px;
   position: relative;
   right: -690%;
   text-decoration: none;
   color: black;
   top: -26px;
   font-weight: 600;
   font-family: 'Poor Story', cursive;
}

#mainFrame>div:nth-child(5)>div>a:after{
     content: '\003E';
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-left: 3px;
}
#mainFrame>div:nth-child(5)>div>a:hover{
     text-decoration: underline;
   
}

/*-------- 메인 고양이 콘텐츠 영역 --------*/
#mainContents2 {
   width: 100%;
   height: 370px;

}
/*---- 고양이 뉴스 영역 ----*/
#mainContents2>div {
   width: 250px;
   height: 300px;
   margin: 25px;
   margin-top: 30px;
   margin-bottom: 30px;
   cursor: pointer;
   float: left;
}

#mainContents2>div>a {
   width: 250px;
   height: 370px;
   margin: 75px;
   margin-top: 30px;
   margin-bottom: 30px;
}
/*-- 고양이 사진 --*/
#mainContents2>div>img {
   width: 246px;
    height: 200px;
   border-radius: 10px;
}

/*-- 고양이 제목  --*/
#mainContents2>div>h5 {
	font-family: 'Noto Sans KR', sans-serif;
   margin: 0px;
   padding: 10px 5px 10px 5px;
   font-size: 18px;
}


/*--------인기 커뮤니티 타이틀 영역 --------*/
#mainFrame>div:nth-child(7) {
   width: 100%;
   height: 100px;
}
/*-- 인기 커뮤니티 제목 영역 --*/
#mainFrame>div:nth-child(7)>div {
   width: 160px;
   height: 40px;
   position: relative;
   top: 50%;

}
/*-- 인기커뮤니티 --*/
#mainFrame>div:nth-child(7)>div>h3{
   width: 140px;
   height: 40px;
   position: relative;
   right: -25%;
   font-size: 33px;
   top: -15px;
   font-family: 'Poor Story', cursive;
}
/*-- 더보기 --*/
#mainFrame>div:nth-child(7)>div>a{
   width: 77px;
   height: 40px;
   position: relative;
   right: -690%;
   text-decoration: none;
   color: black;
   top: -26px;
   font-weight: 600;
   font-family: 'Poor Story', cursive;
}

#mainFrame>div:nth-child(7)>div>a:after{
    content: '\003E';
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-left: 3px;
}


/*-------- 메인 인기 커뮤니티 콘텐츠 영역 --------*/
#mainContents3 {
   width: 100%;
   height: 400px;

}
/*---- 인기 커뮤니티 영역 ----*/
#mainContents3>div {
   width: 250px;
   height: 300px;
   margin: 25px;
   margin-top: 30px;
   margin-bottom: 30px;
   cursor: pointer;
     float: left;
}

#mainContents3>div>a {
   width: 250px;
   height: 300px;

   margin-top: 30px;
   margin-bottom: 30px;
}
/*-- 인기커뮤니티 사진 --*/
#mainContents3>div>a>img {
   width: 246px;
   height: 200px;
   border-radius: 10px;
}

/*-- 인기커뮤니티 제목  --*/
#mainContents3>div>a>h5 {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0px;
	padding: 10px 5px 10px 5px;
	font-size: 18px;
}




/*---------------------화면 하단---------------------*/

.UnderBar1 {
   width: 60%;
   height : 2px;
   position : relative;
   top: 42px;
   left : 0px;
   border-radius: 4px;
   background-color: rgb(174, 174, 174);
}

#footermain{
   width: 100%;
    height: 200px;
  
    position: relative;
    top: 200px;
}



#footer {
   width: 100%;
   height: 150px;
   position: relative;
   top: 100px;
   background-color: #48484d;
}

#footer h3 {
   float: left;

   height: auto;
   margin: 10px;
   margin-left: 0px;
   
    margin-top: 40px;
   
   left: 750px;
    position: relative;
        color: white;
}

#footer h5 {
   float: left;

   height: auto;
    top: 60px;
  left: 430px;

  position: relative;
      color: white;
}

.top-btn{
position: fixed;
    right: 150px;
    bottom: 70px;
    border: 0;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: #fff;
    /*
    background-image: url(../images/icon/icon_topbt.png); 
    background-repeat: no-repeat;
    background-position: center 18px;
    font-family: 'NanumSquareRoundB';
    */
    box-shadow: rgb(90 93 96 / 15%) 0px 2px 5px;
    font-size: 13px;
    color: #393837;
    padding-top: 0px;
    z-index: 1;
    outline: none;
    text-align:center;
    line-height: 60px;
}